.productDetails-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin-top: 70px;
  position: relative;
}

.productDetails-wrapper.blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  opacity: 0.9;
}

.left-side {
  flex: 0.7;
  margin-left: 50px;
}

.left-product-img {
  width: 95%;
  height: 80%;
  object-fit: cover;
}

.right-side {
  flex: 0.3;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.product-detail-description {
  margin-top: 15px;
  max-width: 95%;
}

.count-down {
  display: flex;
  justify-content: space-between;
}

.last-bid {
  display: flex;
  flex-direction: column;
}

.last-bid-amount {
  margin-top: -10px;
  font-weight: bold;
}

.time-limit {
  display: flex;
  flex-direction: column;
}

.exact-time {
  margin-top: -15px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.available-until {
  text-align: center;
}

.place-bid {
  width: 300px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(150, 147, 147);
  color: white;
  cursor: pointer;
}

.place-bid:disabled {
  cursor: not-allowed;
}

.auto-bidding {
  margin-top: 20px;
}

.input-amount-field {
  position: absolute;
  left: 300px;
  top: 150px;
  z-index: 999;
  width: 450px;
  height: 400px;
  background-color: rgb(219, 221, 221);
}

.close-amount-field {
  position: absolute;
  top: -30px;
  left: -35px;
  color: red;
  cursor: pointer;
}

.input-amount-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.required-form {
  display: flex;
  flex-direction: column;
}

.required-input {
  width: 300px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-top: 15px;
  font-size: 16px;
}

.submitFields {
  margin-top: 30px;
  width: 320px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(71, 70, 70);
  color: white;
}

.end {
  font-size: 12px;
  color: red;
  font-weight: bold;
}
