body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(198, 200, 201);
  scroll-behavior: smooth;
  scrollbar-color: rgb(53, 52, 52) white;
  overflow-y: hidden;
}

@media only screen and (max-width: 500px) {
  body {
    overflow-y: scroll;
    scrollbar-width: thin;
  }
}
